[Unit]
Description=Moloch bootstrap service
After=elasticsearch.service

[Service]
ExecStart=/data/moloch/bin/moloch-bootstrap.sh

[Install]
WantedBy=multi-user.target
